## Diccionarios para todos
___
Se crearan diccionarios y como consultar la informaci√≥n en ellos

In [1]:
planet = {
    'name' : 'Marte',
    'moons' : 2,
     }

In [5]:
planet.get('name')

'Marte'

In [35]:
print('El planeta 'f'{planet["name"]}' ' tiene ' f'{planet["moons"]}' ' lunas')

El planeta Marte tiene 2 lunas

In [36]:
planet['circum (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [37]:
planet

{'name': 'Marte',
 'moons': 2,
 'circum (km)': {'polar': 6752, 'equatorial': 6792}}

In [39]:
print('El planeta 'f'{planet["name"]}' ' tiene una circunferencia de ' f'{planet["circum (km)"]["polar"]}' ' km')

El planeta Marte tiene una circunferencia de 6752 km

In [2]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [4]:
planeta

{'mercury': 0,
 'venus': 0,
 'earth': 1,
 'mars': 2,
 'jupiter': 79,
 'saturn': 82,
 'uranus': 27,
 'neptune': 14,
 'pluto': 5,
 'haumea': 2,
 'makemake': 1,
 'eris': 1}

In [40]:

num_plan = len(planet_moons.keys())

In [41]:
print('Hay un total de ' f'{num_plan}' ' planetas')

Hay un total de 12 planetas

In [17]:
nume_moons = 0
for moons in planet_moons.values():
    nume_moons += moons

In [27]:
print('Hay un total de ' f'{nume_moons}'' lunas')

Hay un total de 214 lunas

In [22]:
average = nume_moons / num_plan
print('En promedio hay '  f'{average}' ' lunas por planeta' )

En promedio hay 17.833333333333332 lunas por planeta